.home-categories {
    background-color: black;
    background-image: url('../../images/ghost-background1.png');
    padding-top: 150px;
    padding-bottom: 50px;
    align-items: center;
}

.test {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.b2 {
    font-size: 70px;
}

.h-b2 {
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 20px;
    color: white;
    padding: 0 35px 0 35px;
    position: relative;
    transition: all 0.5s ease;
}

.fade-right {
    animation: fadeRight 1s ease-out forwards;
}
  
@keyframes fadeRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}


.h-b2:hover {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 0); }
    20%, 40%, 60%, 80% { transform: translate(5px, 0); }
    100% { transform: translate(0, 0); }
  }

.h-b2a { background-color: red; }
.h-b2b { background-color: orange; }
.h-b2c { background-color: blue; }
.h-b2d { background-color: green; }




