.home-featured {
    background-color: black;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
  }
  
  .hf-title {
    display: flex;
    flex-direction: row;
  }
  
  .rp2 {
    font-size: 65px;
  }
  
  .each-slide-effect {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
  }


.fade-up {
    animation: fadeUp 1.5s ease-out forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(80%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

  