.home-search {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-searchbar {
    font-size: 30px;
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 650px;
}

.home-searchbar:focus {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  


.home-search-submit {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 10px;
}

/* __________________________ */
