.home-featured {
  background-color: black;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.hf-title {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.rp2 {
  font-size: 65px;
}

.each-slide-effect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.more-reviews {
  margin-top: 3%;
}

@media screen and (max-width: 480px) {
  .hf-title {
    margin-bottom: 20px;
  }

  .rp2 {
    font-size: 40px; 
  }

  .slide-image {
    height: 80px; 
    width: 250px; 
  }

  .more-reviews {
    margin-top: 5%; 
  }
}
