.home-community {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.community-example {
    height: 250px;
    width: 200px;
}

.community-section {
   padding: 0% 1% 1% 1%;
   margin: 2% 5% 0 5%;
   border: 5px solid black;
   width: 20%;
}

.community-section:hover .community-example {
  content: url("../../images/glasses_ghost.png");
}


.ct1 {
    font-size: 40px;
}

.community-section:nth-child(1) {
  animation-delay: 0.1s;
}

.community-section:nth-child(2) {
  animation-delay: 0.2s;
}

.left-popin {
  animation: leftPopInAnimation 0.5s;
}

@keyframes leftPopInAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}

