.places-title {
  background-color: rgb(255, 54, 54);
  background-image: url('../images/ghost-background1.png');
  flex-direction: row;
  align-items: center;
  height: 30vh;
  justify-content: space-evenly;
}

.top-rated {
  margin-left: 40%;
  margin-bottom: 3%;
}

.place-list {
  margin-left: 35%;
}

.entry-format {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.place-info {
  width: 80%;
}

.name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.place-rating {
  display: flex;
  align-items: center;
}

.num-ratings {
  margin-left: 10px;
}

.place-image {
  margin-left: 5%;
  height: 300px;
  width: 300px;
  background-color: aqua;
}

.test {
  width: 30%;
  height: auto;
}

.place-entry {
  background-color: rgb(0, 0, 0);
  background-image: url('../images/ghost-background1.png');
  border: 1px solid black;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 5vh;
  width: 75%;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .places-title {
    height: 10vh;
  }

  .place-info {
    width: 100%;
  }

  .place-image {
    margin-left: 0;
  }

  .test {
    width: 100%;
  }

  .place-entry {
    width: 90%;
  }
}
