.placepage-title {
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    height: 30vh;
  } 

.placepage-middle {
    background-color: black;
    background-image: url('../images/ghost-background1.png');
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 40px 0 40px 0;
  } 

.place-options {
    display: flex;
}

.rp3 {
  font-size: 45px;
}

.review-list {
    margin-left: 10%;
  }

.rating-top-portion {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.chungus {
  display: flex;
  flex-direction: row;
}

.page-ratings {
  display: flex;
  justify-content: space-between;  
}

.scariness-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h-b3a {
  margin-right: 50px;
}

.review-entry {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 5vh;
    width: 75%;
  }

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mr {
  margin-right: 20px;
}

.ml {
  margin-left: 20px;
}

.likes {
  margin-right: 10px;
}

.h-b3 {
    color: white;
    background-image: linear-gradient(-45deg, red 50%, white 50%);
    background-position: 100%;
    background-size: 400%;
    border-radius: 20px;
    transition: background-position 0.5s;
}

.h-b4 {
  color: black;
  background-color: white;
  border-radius: 20px;
}

  