.profile-tabs .react-tabs__tab-list {
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgb(34, 34, 34);
  font-family: 'Readexpro';
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.profile-tabs .react-tabs__tab--selected {
  background: red; /* Set the background of the selected tab to black */
  color: white; /* Set the text color of the selected tab to white */
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}

.profile-tabs .react-tabs__tab-panel {
  padding: 20px;
  background: black; /* Set the background of the active tab panel to black */
  background-image: url('../images/ghost-background1.png');
  margin: 0;
  background-repeat: repeat;
  animation: scrollBackground 40s linear infinite; 
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.setting {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 15% 5% 15%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 767px) {
 .setting {
  margin: 0 0 10% 0;
 }
}
